<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- 'block'은 자식 템플릿이 재정의할 수 있는 플레이스홀더입니다. -->
    <!-- 'pagetitle'은 블록의 이름으로, 이 이름을 가진 블록을 자식 템플릿이 -->
    <!-- 재정의할 수 있습니다.-->
    <title>{% block pagetitle %}기본 웹사이트 {%endblock pagetitle%}</title>
</head>
<body>
    <header>
        <h1>나의 웹사이트 방문을 환영합니다!</h1>
    </header>

    <!-- 여기서 정의한 'maincontent' 블록은 자식 템플릿에서 내용을 채워 -->
    <!-- 넣기 위한 자리 표시자입니다. -->
    {% block maincontent %}
    <!-- 이 부분은 자식 템플릿에서 구체적인 내용으로 채워질 예정입니다. -->
    <!-- 'maincontent' 블록 안에 내용을 추가하여 기본 레이아웃을 확장합니다. -->
    {% endblock maincontent %}

    <footer>
        <p>&copy; 나의 웹사이트</p>
    </footer>
</body>
</html>